@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Resturant Rater</h1>
    <p class="lead">Resturant Rater is the premier place to get your resurant reviews.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Using Resturant Rater</h2>
        <p>
            lorme ipsum blank text blank txt blank txt blank txt blank txt.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find the best food!</h2>
        <p>lorme ipsum blank text blank txt blank txt blank txt blank txt.lorme ipsum blank text blank txt blank txt blank txt blank txt.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Resturant Rating</h2>
        <p>lorme ipsum blank text blank txt blank txt blank txt blank txt.lorme ipsum blank text blank txt blank txt blank txt blank txt.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>